td.cf_1.string {
    font-weight: bold;
}
td.description {
    font-size: 100%;
    font-weight: bold;
}

.IssueDoc {
    border: 1px solid darkgrey;
    padding-left: 4px;
}
.ParentIssue {
    /* border-top: 1px darkgrey; */
    padding-left: 3px;
    margin-left: 3px;
    border-style: ridge;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    border: 1px solid darkgrey;
    margin-bottom: 6px;
    margin-top: 5px;
}

.ParentIssue h2 h3 h4 h5 h6 h7 h8 h9{
    padding-left: 4px;
}

.ParentIssuedescr {
    padding-left: 3px;
}

.Issue {
    border-top: 1px darkgrey;
    padding-left: 3px;
    margin-left: 4px;
    border-style: dotted;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
}

.Infodescr{
	color: grey;
	font-style: italic;
}

.IssueDocdescr{
	color: grey;
	font-style: italic;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 { 
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 { 
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 { 
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 { 
  display: block;
  font-size: .60em;
  margin-top: 2.50em;
  margin-bottom: 2.50em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
