<h2>CosmosysIssuesController#issue_menu</h2>

<p>Actions:</p>
<p><%= link_to 'Tree', { :action => 'issues_tree'}, :method => :get %></p>

<p><%= link_to 'Validation(not yet)', { :action => 'issue_validate'}, :method => :get %></p>
<p><%= link_to 'Propagation(not yet)', { :action => 'issue_propagate'}, :method => :get %></p>
